<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片预测</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        #image-container {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin-top: 20px;
        }
        img {
            max-width: 400px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>上传图片进行预测</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput">
        <button type="submit">上传</button>
    </form>
    <div id="image-container">
        <div id="original-image">
            <h2>原始图片</h2>
            <img id="originalImg" src="" alt="Original Image">
        </div>
        <div id="result-image">
            <h2>处理结果</h2>
            <img id="resultImg" src="" alt="Processed Result">
        </div>
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('file', document.getElementById('fileInput').files[0]);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('originalImg').src = '/static/uploads/' + document.getElementById('fileInput').files[0].name;
                    // document.getElementById('resultImg').src = data.result;
                    document.getElementById('resultImg').src = '/result/temp_output.jpg'+'?' + new Date().getTime();

                    console.log(data.result)
                    console.log(data.result)
                    console.log(data.result)
                } else {
                    alert('预测失败，请重试：' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('预测失败，请重试。');
            });
        });
    </script>
</body>
</html>
